/* Fundo do site */
body {
    background-color: #F8F8FF; /* Branco gelo */
    color: #000; /* Cor do texto */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Corpo do site */
.container {
    background-color: #8e8e7b; /* Bege */
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo do cabeçalho */
.header img {
    display: block;
    margin: 0 auto;
}

/* Cabeçalho das planilhas */
table thead th {
    background-color: #D3D3D3; /* Cinza */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

table tbody tr td {
    border-radius: 5px;
}

/* Estilo dos botões */
button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Verde */
    color: white;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #45a049; /* Verde escuro */
}

button.removerDiaBtn {
    background-color: #f44336; /* Vermelho */
}

button.removerDiaBtn:hover {
    background-color: #d32f2f; /* Vermelho escuro */
}

/* Formulário de entrada */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select {
    width: calc(100% - );
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: calc(100% - 22px);
}
