/* Estilos gerais */
body {
    background-color: #F8F9FA; /* Branco gelo */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #C19A6B; /* Amarelo escuro meio tom de caramelo */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    max-width: 100px;
}

/* Formulário */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    flex: 1 1 100%;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Media queries para campos lado a lado */
@media (min-width: 600px) {
    .form-group {
        flex: 1 1 48%;
    }

    .form-group:nth-child(odd) {
        margin-right: 4%;
    }
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    width: 100%;
    text-align: center;
}

button:focus {
    outline: none;
}

button.adicionarDiaBtn {
    background-color: #28a745;
}

button.removerDiaBtn {
    background-color: #dc3545;
}

/* Centraliza o botão de enviar */
#enviarFormularioBtn {
    display: block;
    margin: 20px auto;
}

/* Botão de copiar */
#copiarBtn {
    display: block;
    margin: 10px auto;
    background-color: #ffc107;
    color: black;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#copiarBtn:focus {
    outline: none;
}

/* Resultado */
#resultado {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    white-space: pre-line;
    position: relative;
}

/* Ajustes para a tabela de dias trabalhados */
.diaTrabalhado table {
    width: 100%;
}

.diaTrabalhado td {
    padding: 8px;
    border: 1px solid #ddd;
}

.diaTrabalhado select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
